// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$sakshi-app-primary: mat.define-palette(mat.$green-palette);
$sakshi-app-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$sakshi-app-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$sakshi-app-theme: mat.define-light-theme(
  (
    color: (
      primary: $sakshi-app-primary,
      accent: $sakshi-app-accent,
      warn: $sakshi-app-warn,
    ),
    typography:
      mat.define-typography-config(
        $font-family: "Inter",
      ),
    density: 0,
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($sakshi-app-theme);

/* Tailwind Import */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* TOASTR */
@import "ngx-toastr/toastr";

body {
  margin: 0;
  font-family: Inter, "Helvetica Neue", sans-serif;
  font-weight: normal;
}

.global-wrapper {
  @apply mx-auto max-w-7xl;
}
.section-wrapper {
  @apply pt-24 pb-12;
}
/* CHAT */

.scroll {
  overflow-y: auto;
}
.scroll::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.scroll::-webkit-scrollbar-track {
  background-color: #eee;
}
.scroll::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 1rem;
}
.scroll::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}

/* --- CHATBOX --- */
.chatWrap {
  @apply w-full min-w-96 h-full p-8;
}

.chatBox {
  height: 100%;
  overflow-y: auto;
  padding-right: 0.75rem;
}
.chatBox .chatFrom,
.chatBox .chatTo {
  display: flex;
  align-items: flex-start;
  margin: 0.5rem 0;
}
.chatTo {
  justify-content: flex-end;
}
.chatIcon {
  @apply size-10 overflow-hidden grid place-items-center bg-white rounded-full shadow-md leading-[0];

  padding: 0.5rem;
  font-size: 0.5em;
  /* box-shadow: 0 0.3rem 0.5rem rgba(153, 153, 153, 0.2); */
}
.chatIcon i,
.chatIcon .material-symbols-rounded {
  @apply text-gray-700;
  font-size: 1.5rem;
}
.chatFrom .chatIcon {
  margin-right: 0.25rem;
}
.chatTo .chatIcon {
  margin-left: 0.25rem;
}
.msg {
  @apply p-3 bg-white rounded-lg shadow-md mt-3 mx-1;

  /*
  * 2rem(iconSize)+2*.75rem(IconPadding)+2*.5rem(marginRight)
  * 4.5rem * 2 = 9rem
  */
  max-width: calc(100% - 9rem);
  font-size: 0.85rem;
}
.chatFrom .msg {
  border-top-left-radius: 0;
}
.chatTo .msg {
  border-top-right-radius: 0;
}
.chatInfo {
  @apply text-gray-400 my-3 text-center text-xs;

  /* display: grid;
  grid-template-columns: 1fr minmax(12rem, max-content) 1fr;
  align-items: center;
  grid-column-gap: 0.75rem; */
}
/* .chatInfo::before,
.chatInfo::after {
  content: "";
  height: 1px;
  background-color: #ccc;
  overflow: hidden;
} */
/* ------------------ */

/* OVERRIDES */

.font-semibold {
  font-weight: 500;
}

.mdc-notched-outline__notch {
  border: none;
}
.mat-mdc-menu-item {
  min-height: 0 !important;
  /* padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important; */
  padding: 0.5rem 1.5rem !important;
}
.mat-mdc-menu-item-text {
  font-size: 0.875rem !important /* 14px */;
  line-height: 1.25rem !important /* 20px */;
}
