<div class="min-h-full">
  <app-nav></app-nav>
  <main class="bg-white relative">
    <router-outlet></router-outlet>
  </main>
  <footer class="bg-white">
    <div class="border-t border-stroke py-8 dark:border-dark-3">
      <div class="container mx-auto">
        <div class="text-center">
          <div class="mb-5">
            <img src="/assets/brand/sakshi-logo.svg" alt="SAKSHI.AI" class="mx-auto max-w-full h-8" />
          </div>
          <p class="text-base text-body-color dark:text-dark-6">© 2025 SAKSHI.AI &bull; All Rights Reserved.</p>
        </div>
      </div>
    </div>
  </footer>
</div>
